# BEGIN WordPress

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /new-phonicsschool/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /new-phonicsschool/index.php [L]
</IfModule>

<IfModule deflate_module>
    # Enable compression for the following file types.
    AddOutputFilterByType            \
     DEFLATE                         \
      application/javascript         \
      text/css                       \
      text/html                      \
      text/javascript                \
      text/plain                     \
      text/xml
</IfModule>

# END WordPress
